/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: #f8f8f8;
}

/* HEADER */
.header {
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* HERO */
.hero {
  background: url("../images/hero.avif") center/cover no-repeat;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 5px black;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero-btn {
  margin-top: 20px;
  background: #ff4757;
  padding: 12px 28px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/* PRODUCTS */
.products-section {
  padding: 40px;
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.product-card {
  background: white;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ddd;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.product-card button {
  padding: 10px 20px;
  border: none;
  background: #111;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* FOOTER */
.footer {
  padding: 20px 0;
  background: #222;
  color: #eee;
  text-align: center;
  margin-top: 40px;
}
