* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 380px;
  background: white;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 0 15px #ccc;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #111;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: #333;
}

.redirect {
  text-align: center;
  margin-top: 15px;
}

.redirect a {
  color: #ff4757;
  text-decoration: none;
}
