body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #111;
  padding: 20px;
  position: fixed;
}

.sidebar h2 {
  color: white;
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  background: #222;
  border-radius: 6px;
}

.sidebar a.active {
  background: #444;
}

.content {
  margin-left: 240px;
  padding: 30px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.orders-table th,
.orders-table td {
  padding: 14px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.orders-table th {
  background: #222;
  color: white;
}

.status {
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
}

.status.pending {
  background: orange;
}

.status.completed {
  background: green;
}

.status.canceled {
  background: red;
}

.btn-update {
  padding: 6px 10px;
  background: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-update:hover {
  background: #222;
}
/* Modal Background */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

/* Modal Box */
.modal-content {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 8px;
  text-align: center;
}

.modal-content select {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 6px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 8px 14px;
  border: none;
  background: #222;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.modal-buttons button:hover {
  background: #000;
}
