* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f4f4f4;
}

/* HEADER */
.header {
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.nav .active {
  color: #ff4757;
  font-weight: bold;
}

/* PRODUCTS */
.products-section {
  padding: 40px;
}

.products-section h2 {
  text-align: center;
  margin-bottom: 30px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 25px;
}

.product-card {
  background: white;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-card h3 {
  margin-bottom: 8px;
}

.product-card p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.product-card button {
  border: none;
  padding: 10px 18px;
  background: #111;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

.product-card button:hover {
  background: #333;
}
